.AnchorPane {
    -fx-background-color: #3d3d3d;
}
.label_title {
    -fx-font-size: 20;
    -fx-font-family: Robotic;
    -fx-text-fill: white;
    -fx-alignment: center;
}
.label_subtext {
    -fx-font-size: 18;
    -fx-text-fill: white;
}
.button_add_in_list{
    -fx-font-size: 14;
    -fx-font-weight: 700;
    -fx-background-color: white;
}